/.metadata/*.lock
/.metadata/*.log
/.metadata/.mylyn/.taskListIndex/*.gen
/.metadata/.mylyn/.taskListIndex/*
/.metadata/.mylyn/*.zip
/.metadata/.plugins/org.eclipse.core.resources/.history/0/*
/.metadata/.plugins/org.eclipse.core.resources/.history/1/*
/.metadata/.plugins/org.eclipse.core.resources/.history/10/*
/.metadata/.plugins/org.eclipse.core.resources/.history/12/*
/.metadata/.plugins/org.eclipse.core.resources/.history/13/*
/.metadata/.plugins/org.eclipse.core.resources/.history/16/*
/.metadata/.plugins/org.eclipse.core.resources/.history/17/*
/.metadata/.plugins/org.eclipse.core.resources/.history/18/*
/.metadata/.plugins/org.eclipse.core.resources/.history/19/*
/.metadata/.plugins/org.eclipse.core.resources/.history/1a/*
/.metadata/.plugins/org.eclipse.core.resources/.history/1b/*
/.metadata/.plugins/org.eclipse.core.resources/.history/1d/*
/.metadata/.plugins/org.eclipse.core.resources/.history/1f/*
/.metadata/.plugins/org.eclipse.core.resources/.history/2/*
/.metadata/.plugins/org.eclipse.core.resources/.history/21/*
/.metadata/.plugins/org.eclipse.core.resources/.history/22/*
/.metadata/.plugins/org.eclipse.core.resources/.history/23/*
/.metadata/.plugins/org.eclipse.core.resources/.history/24/*
/.metadata/.plugins/org.eclipse.core.resources/.history/25/*
/.metadata/.plugins/org.eclipse.core.resources/.history/27/*
/.metadata/.plugins/org.eclipse.core.resources/.history/2b/*
/.metadata/.plugins/org.eclipse.core.resources/.history/2d/*
/.metadata/.plugins/org.eclipse.core.resources/.history/2f/*
/.metadata/.plugins/org.eclipse.core.resources/.history/3/*
/.metadata/.plugins/org.eclipse.core.resources/.history/30/*
/.metadata/.plugins/org.eclipse.core.resources/.history/31/*
/.metadata/.plugins/org.eclipse.core.resources/.history/35/*
/.metadata/.plugins/org.eclipse.core.resources/.history/38/*
/.metadata/.plugins/org.eclipse.core.resources/.history/39/*
/.metadata/.plugins/org.eclipse.core.resources/.history/3a/*
/.metadata/.plugins/org.eclipse.core.resources/.history/3c/*
/.metadata/.plugins/org.eclipse.core.resources/.history/45/*
/.metadata/.plugins/org.eclipse.core.resources/.history/46/*
/.metadata/.plugins/org.eclipse.core.resources/.history/47/*
/.metadata/.plugins/org.eclipse.core.resources/.history/48/*
/.metadata/.plugins/org.eclipse.core.resources/.history/4a/*
/.metadata/.plugins/org.eclipse.core.resources/.history/4c/*
/.metadata/.plugins/org.eclipse.core.resources/.history/4d/*
/.metadata/.plugins/org.eclipse.core.resources/.history/4e/*
/.metadata/.plugins/org.eclipse.core.resources/.history/4f/*
/.metadata/.plugins/org.eclipse.core.resources/.history/5/*
/.metadata/.plugins/org.eclipse.core.resources/.history/51/*
/.metadata/.plugins/org.eclipse.core.resources/.history/54/*
/.metadata/.plugins/org.eclipse.core.resources/.history/55/*
/.metadata/.plugins/org.eclipse.core.resources/.history/56/*
/.metadata/.plugins/org.eclipse.core.resources/.history/57/*
/.metadata/.plugins/org.eclipse.core.resources/.history/58/*
/.metadata/.plugins/org.eclipse.core.resources/.history/59/*
/.metadata/.plugins/org.eclipse.core.resources/.history/5c/*
/.metadata/.plugins/org.eclipse.core.resources/.history/5d/*
/.metadata/.plugins/org.eclipse.core.resources/.history/5e/*
/.metadata/.plugins/org.eclipse.core.resources/.history/5f/*
/.metadata/.plugins/org.eclipse.core.resources/.history/62/*
/.metadata/.plugins/org.eclipse.core.resources/.history/63/*
/.metadata/.plugins/org.eclipse.core.resources/.history/65/*
/.metadata/.plugins/org.eclipse.core.resources/.history/67/*
/.metadata/.plugins/org.eclipse.core.resources/.history/68/*
/.metadata/.plugins/org.eclipse.core.resources/.history/6a/*
/.metadata/.plugins/org.eclipse.core.resources/.history/6d/*
/.metadata/.plugins/org.eclipse.core.resources/.history/6e/*
/.metadata/.plugins/org.eclipse.core.resources/.history/6f/*
/.metadata/.plugins/org.eclipse.core.resources/.history/7/*
/.metadata/.plugins/org.eclipse.core.resources/.history/71/*
/.metadata/.plugins/org.eclipse.core.resources/.history/73/*
/.metadata/.plugins/org.eclipse.core.resources/.history/74/*
/.metadata/.plugins/org.eclipse.core.resources/.history/75/*
/.metadata/.plugins/org.eclipse.core.resources/.history/76/*
/.metadata/.plugins/org.eclipse.core.resources/.history/77/*
/.metadata/.plugins/org.eclipse.core.resources/.history/78/*
/.metadata/.plugins/org.eclipse.core.resources/.history/79/*
/.metadata/.plugins/org.eclipse.core.resources/.history/7a/*
/.metadata/.plugins/org.eclipse.core.resources/.history/7c/*
/.metadata/.plugins/org.eclipse.core.resources/.history/7e/*
/.metadata/.plugins/org.eclipse.core.resources/.history/7f/*
/.metadata/.plugins/org.eclipse.core.resources/.history/8/*
/.metadata/.plugins/org.eclipse.core.resources/.history/80/*
/.metadata/.plugins/org.eclipse.core.resources/.history/81/*
/.metadata/.plugins/org.eclipse.core.resources/.history/82/*
/.metadata/.plugins/org.eclipse.core.resources/.history/83/*
/.metadata/.plugins/org.eclipse.core.resources/.history/86/*
/.metadata/.plugins/org.eclipse.core.resources/.history/88/*
/.metadata/.plugins/org.eclipse.core.resources/.history/8c/*
/.metadata/.plugins/org.eclipse.core.resources/.history/8d/*
/.metadata/.plugins/org.eclipse.core.resources/.history/8f/*
/.metadata/.plugins/org.eclipse.core.resources/.history/9/*
/.metadata/.plugins/org.eclipse.core.resources/.history/90/*
/.metadata/.plugins/org.eclipse.core.resources/.history/91/*
/.metadata/.plugins/org.eclipse.core.resources/.history/93/*
/.metadata/.plugins/org.eclipse.core.resources/.history/94/*
/.metadata/.plugins/org.eclipse.core.resources/.history/95/*
/.metadata/.plugins/org.eclipse.core.resources/.history/97/*
/.metadata/.plugins/org.eclipse.core.resources/.history/9a/*
/.metadata/.plugins/org.eclipse.core.resources/.history/9b/*
/.metadata/.plugins/org.eclipse.core.resources/.history/9f/*
/.metadata/.plugins/org.eclipse.core.resources/.history/a/*
/.metadata/.plugins/org.eclipse.core.resources/.history/a1/*
/.metadata/.plugins/org.eclipse.core.resources/.history/a2/*
/.metadata/.plugins/org.eclipse.core.resources/.history/a3/*
/.metadata/.plugins/org.eclipse.core.resources/.history/a4/*
/.metadata/.plugins/org.eclipse.core.resources/.history/a5/*
/.metadata/.plugins/org.eclipse.core.resources/.history/a6/*
/.metadata/.plugins/org.eclipse.core.resources/.history/a7/*
/.metadata/.plugins/org.eclipse.core.resources/.history/a9/*
/.metadata/.plugins/org.eclipse.core.resources/.history/ab/*
/.metadata/.plugins/org.eclipse.core.resources/.history/ad/*
/.metadata/.plugins/org.eclipse.core.resources/.history/ae/*
/.metadata/.plugins/org.eclipse.core.resources/.history/b4/*
/.metadata/.plugins/org.eclipse.core.resources/.history/b6/*
/.metadata/.plugins/org.eclipse.core.resources/.history/b8/*
/.metadata/.plugins/org.eclipse.core.resources/.history/b9/*
/.metadata/.plugins/org.eclipse.core.resources/.history/ba/*
/.metadata/.plugins/org.eclipse.core.resources/.history/bb/*
/.metadata/.plugins/org.eclipse.core.resources/.history/bd/*
/.metadata/.plugins/org.eclipse.core.resources/.history/c0/*
/.metadata/.plugins/org.eclipse.core.resources/.history/c1/*
/.metadata/.plugins/org.eclipse.core.resources/.history/c2/*
/.metadata/.plugins/org.eclipse.core.resources/.history/c3/*
/.metadata/.plugins/org.eclipse.core.resources/.history/c4/*
/.metadata/.plugins/org.eclipse.core.resources/.history/c6/*
/.metadata/.plugins/org.eclipse.core.resources/.history/c8/*
/.metadata/.plugins/org.eclipse.core.resources/.history/c9/*
/.metadata/.plugins/org.eclipse.core.resources/.history/cb/*
/.metadata/.plugins/org.eclipse.core.resources/.history/cc/*
/.metadata/.plugins/org.eclipse.core.resources/.history/ce/*
/.metadata/.plugins/org.eclipse.core.resources/.history/cf/*
/.metadata/.plugins/org.eclipse.core.resources/.history/d/*
/.metadata/.plugins/org.eclipse.core.resources/.history/d1/*
/.metadata/.plugins/org.eclipse.core.resources/.history/d2/*
/.metadata/.plugins/org.eclipse.core.resources/.history/d5/*
/.metadata/.plugins/org.eclipse.core.resources/.history/d7/*
/.metadata/.plugins/org.eclipse.core.resources/.history/d9/*
/.metadata/.plugins/org.eclipse.core.resources/.history/dc/*
/.metadata/.plugins/org.eclipse.core.resources/.history/dd/*
/.metadata/.plugins/org.eclipse.core.resources/.history/de/*
/.metadata/.plugins/org.eclipse.core.resources/.history/df/*
/.metadata/.plugins/org.eclipse.core.resources/.history/e/*
/.metadata/.plugins/org.eclipse.core.resources/.history/e1/*
/.metadata/.plugins/org.eclipse.core.resources/.history/e2/*
/.metadata/.plugins/org.eclipse.core.resources/.history/e3/*
/.metadata/.plugins/org.eclipse.core.resources/.history/e4/*
/.metadata/.plugins/org.eclipse.core.resources/.history/e5/*
/.metadata/.plugins/org.eclipse.core.resources/.history/e7/*
/.metadata/.plugins/org.eclipse.core.resources/.history/e8/*
/.metadata/.plugins/org.eclipse.core.resources/.history/e9/*
/.metadata/.plugins/org.eclipse.core.resources/.history/ea/*
/.metadata/.plugins/org.eclipse.core.resources/.history/ec/*
/.metadata/.plugins/org.eclipse.core.resources/.history/ed/*
/.metadata/.plugins/org.eclipse.core.resources/.history/ee/*
/.metadata/.plugins/org.eclipse.core.resources/.history/ef/*
/.metadata/.plugins/org.eclipse.core.resources/.history/f1/*
/.metadata/.plugins/org.eclipse.core.resources/.history/f6/*
/.metadata/.plugins/org.eclipse.core.resources/.history/f7/*
/.metadata/.plugins/org.eclipse.core.resources/.history/f8/*
/.metadata/.plugins/org.eclipse.core.resources/.history/fa/*
/.metadata/.plugins/org.eclipse.core.resources/.history/fc/*
/.metadata/.plugins/org.eclipse.core.resources/.history/ff/*
/.metadata/.plugins/org.eclipse.core.resources/.projects/RestService/.indexes/af/*.index
/.metadata/.plugins/org.eclipse.core.resources/.projects/RestService/.indexes/e4/b9/22/81/2e/39/9f/9c/*.index
/.metadata/.plugins/org.eclipse.core.resources/.projects/RestService/.indexes/e4/b9/22/81/2e/39/9f/f6/*.index
/.metadata/.plugins/org.eclipse.core.resources/.projects/RestService/.indexes/e4/b9/b3/a8/*.index
/.metadata/.plugins/org.eclipse.core.resources/.projects/RestService/.indexes/e4/b9/b3/*.index
/.metadata/.plugins/org.eclipse.core.resources/.projects/RestService/.indexes/*.index
/.metadata/.plugins/org.eclipse.core.resources/.projects/RestService/*.markers
/.metadata/.plugins/org.eclipse.core.resources/.projects/RestService/*.tree
/.metadata/.plugins/org.eclipse.core.resources/.projects/RestService/org.eclipse.egit.core/*.properties
/.metadata/.plugins/org.eclipse.core.resources/.projects/RestService/org.eclipse.jdt.core/*.dat
/.metadata/.plugins/org.eclipse.core.resources/.projects/SpringBatchCsvToXml/.indexes/af/*.index
/.metadata/.plugins/org.eclipse.core.resources/.projects/SpringBatchCsvToXml/.indexes/e4/b9/22/81/2e/b3/29/*.index
/.metadata/.plugins/org.eclipse.core.resources/.projects/SpringBatchCsvToXml/.indexes/e4/b9/22/81/2e/b3/*.index
/.metadata/.plugins/org.eclipse.core.resources/.projects/SpringBatchCsvToXml/.indexes/e4/b9/db/*.index
/.metadata/.plugins/org.eclipse.core.resources/.projects/SpringBatchCsvToXml/.indexes/*.index
/.metadata/.plugins/org.eclipse.core.resources/.projects/SpringBatchCsvToXml/*.snap
/.metadata/.plugins/org.eclipse.core.resources/.projects/SpringBatchCsvToXml/org.eclipse.egit.core/*.properties
/.metadata/.plugins/org.eclipse.core.resources/.projects/SpringDemo/.indexes/*.index
/.metadata/.plugins/org.eclipse.core.resources/.projects/SpringDemo/*.tree
/.metadata/.plugins/org.eclipse.core.resources/.projects/SpringDemo/org.eclipse.egit.core/*.properties
/.metadata/.plugins/org.eclipse.core.resources/.projects/spring4_1/.indexes/*.index
/.metadata/.plugins/org.eclipse.core.resources/.projects/spring4_1/*.markers
/.metadata/.plugins/org.eclipse.core.resources/.projects/spring4_1/*.tree
/.metadata/.plugins/org.eclipse.core.resources/.projects/spring4_1/org.eclipse.egit.core/*.properties
/.metadata/.plugins/org.eclipse.core.resources/.projects/spring4_1/org.eclipse.jdt.core/*.dat
/.metadata/.plugins/org.eclipse.core.resources/.projects/spring4_2/.indexes/*.index
/.metadata/.plugins/org.eclipse.core.resources/.projects/spring4_2/*.markers
/.metadata/.plugins/org.eclipse.core.resources/.projects/spring4_2/*.tree
/.metadata/.plugins/org.eclipse.core.resources/.projects/spring4_2/org.eclipse.egit.core/*.properties
/.metadata/.plugins/org.eclipse.core.resources/.projects/spring4_2/org.eclipse.jdt.core/*.dat
/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/*.version
/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/*.index
/.metadata/.plugins/org.eclipse.core.resources/.root/*.snap
/.metadata/.plugins/org.eclipse.core.resources/.root/*.tree
/.metadata/.plugins/org.eclipse.core.resources/.safetable/*.resources
/.metadata/.plugins/org.eclipse.core.resources/*.snap
/.metadata/.plugins/org.eclipse.core.runtime/.settings/*.prefs
/.metadata/.plugins/org.eclipse.debug.core/.launches/*.launch
/.metadata/.plugins/org.eclipse.debug.ui/*.xml
/.metadata/.plugins/org.eclipse.e4.workbench/*.xmi
/.metadata/.plugins/org.eclipse.jdt.core/*.index
/.metadata/.plugins/org.eclipse.jdt.core/*
/.metadata/.plugins/org.eclipse.jdt.core/*.txt
/.metadata/.plugins/org.eclipse.jdt.core/*.dat
/.metadata/.plugins/org.eclipse.jdt.launching/*.xml
/.metadata/.plugins/org.eclipse.jdt.ui/*.xml
/.metadata/.plugins/org.eclipse.jdt.ui/jdt-images/*.png
/.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/.workspace/2017/3/11/*.history
/.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/.workspace/2017/3/11/*.index
/.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/RestService/2017/3/11/*.history
/.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/RestService/2017/3/11/*.index
/.metadata/.plugins/org.eclipse.m2e.core.ui/*.xml
/.metadata/.plugins/org.eclipse.m2e.core/*.lifecyclemapping
/.metadata/.plugins/org.eclipse.m2e.core/nexus/11cc140ee4e0c6a5d0dde4a89371e513/*.cfs
/.metadata/.plugins/org.eclipse.m2e.core/nexus/11cc140ee4e0c6a5d0dde4a89371e513/*.del
/.metadata/.plugins/org.eclipse.m2e.core/nexus/11cc140ee4e0c6a5d0dde4a89371e513/*.gen
/.metadata/.plugins/org.eclipse.m2e.core/nexus/11cc140ee4e0c6a5d0dde4a89371e513/*
/.metadata/.plugins/org.eclipse.m2e.core/nexus/11cc140ee4e0c6a5d0dde4a89371e513/*.lock
/.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/*.cfs
/.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/*.del
/.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/*.gen
/.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/*
/.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/*.lock
/.metadata/.plugins/org.eclipse.m2e.core/nexus/84dd47968f60acaf57a8f86a77d3da4d/*.cfs
/.metadata/.plugins/org.eclipse.m2e.core/nexus/84dd47968f60acaf57a8f86a77d3da4d/*.del
/.metadata/.plugins/org.eclipse.m2e.core/nexus/84dd47968f60acaf57a8f86a77d3da4d/*.gen
/.metadata/.plugins/org.eclipse.m2e.core/nexus/84dd47968f60acaf57a8f86a77d3da4d/*
/.metadata/.plugins/org.eclipse.m2e.core/nexus/84dd47968f60acaf57a8f86a77d3da4d/*.lock
/.metadata/.plugins/org.eclipse.m2e.core/nexus/db5126ae48b6abdc310c0a7258f1edbe/*.cfs
/.metadata/.plugins/org.eclipse.m2e.core/nexus/db5126ae48b6abdc310c0a7258f1edbe/*.del
/.metadata/.plugins/org.eclipse.m2e.core/nexus/db5126ae48b6abdc310c0a7258f1edbe/*.gen
/.metadata/.plugins/org.eclipse.m2e.core/nexus/db5126ae48b6abdc310c0a7258f1edbe/*
/.metadata/.plugins/org.eclipse.m2e.core/nexus/db5126ae48b6abdc310c0a7258f1edbe/*.lock
/.metadata/.plugins/org.eclipse.m2e.core/*.ser
/.metadata/.plugins/org.eclipse.m2e.core/*.properties
/.metadata/.plugins/org.eclipse.m2e.jdt/*.container
/.metadata/.plugins/org.eclipse.m2e.logback.configuration/*.log
/.metadata/.plugins/org.eclipse.m2e.logback.configuration/*.xml
/.metadata/.plugins/org.eclipse.team.cvs.core/*.running
/.metadata/.plugins/org.eclipse.ui.ide/*.xml
/.metadata/.plugins/org.eclipse.ui.workbench/*.xml
/.metadata/.plugins/org.eclipse.ui/*.xml
/.metadata/.plugins/org.eclipse.wst.internet.cache/*.xml
/.metadata/.plugins/org.eclipse.wst.sse.core/*.properties
/.metadata/.plugins/org.eclipse.wst.sse.ui/*.xml
/.metadata/.plugins/org.eclipse.wst.xml.core/*.xml
/.metadata/.plugins/org.springframework.ide.eclipse.aop.core/*.state
/.metadata/.plugins/org.springframework.ide.eclipse.beans.core.metadata/metadata/*.state
/.metadata/.plugins/org.springframework.ide.eclipse.beans.core.metadata/properties/*.state
/.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1489562542451/common/bootstrap-datetimepicker/js/*.js
/.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1489562542451/common/bootstrap/css/*.css
/.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1489562542451/common/bootstrap/css/*.js
/.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1489562542451/common/bootstrap/js/bootstrap-datetimepicker/js/*.js
/.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1489562542451/common/bootstrap/js/*.js
/.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1489562542451/common/css/*.css
/.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1489562542451/common/font-awesome/css/*.css
/.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1489562542451/common/font-custom/*.woff
/.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1489562542451/common/img/*.png
/.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1489562542451/common/img/*.gif
/.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1489562542451/common/js/*.js
/.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1489562542451/*.html
/.metadata/.plugins/org.springsource.ide.eclipse.dashboard.ui/feeds/dashboard.feeds.blogs/*.xml
/.metadata/.plugins/org.springsource.ide.eclipse.dashboard.ui/feeds/dashboard.feeds.update/*.xml
/.metadata/*.ini
/.recommenders/index/http___download_eclipse_org_recommenders_models_luna_/*.fdt
/.recommenders/index/http___download_eclipse_org_recommenders_models_luna_/*.fdx
/.recommenders/index/http___download_eclipse_org_recommenders_models_luna_/*.fnm
/.recommenders/index/http___download_eclipse_org_recommenders_models_luna_/*.frq
/.recommenders/index/http___download_eclipse_org_recommenders_models_luna_/*.nrm
/.recommenders/index/http___download_eclipse_org_recommenders_models_luna_/*.prx
/.recommenders/index/http___download_eclipse_org_recommenders_models_luna_/*.tii
/.recommenders/index/http___download_eclipse_org_recommenders_models_luna_/*.tis
/.recommenders/index/http___download_eclipse_org_recommenders_models_luna_/*.gen
/.recommenders/index/http___download_eclipse_org_recommenders_models_luna_/*
/.recommenders/index/http___download_eclipse_org_recommenders_models_luna_/*.lock
/.recommenders/repository/http___download_eclipse_org_recommenders_models_luna_/jre/jre/1.0.0-SNAPSHOT/*.repositories
/.recommenders/repository/http___download_eclipse_org_recommenders_models_luna_/jre/jre/1.0.0-SNAPSHOT/*.zip
/.recommenders/repository/http___download_eclipse_org_recommenders_models_luna_/jre/jre/1.0.0-SNAPSHOT/*.xml
/.recommenders/repository/http___download_eclipse_org_recommenders_models_luna_/jre/jre/1.0.0-SNAPSHOT/*.properties
/.recommenders/repository/http___download_eclipse_org_recommenders_models_luna_/org/eclipse/recommenders/index/0.0.0-SNAPSHOT/*.repositories
/.recommenders/repository/http___download_eclipse_org_recommenders_models_luna_/org/eclipse/recommenders/index/0.0.0-SNAPSHOT/*.zip
/.recommenders/repository/http___download_eclipse_org_recommenders_models_luna_/org/eclipse/recommenders/index/0.0.0-SNAPSHOT/*.xml
/.recommenders/repository/http___download_eclipse_org_recommenders_models_luna_/org/eclipse/recommenders/index/0.0.0-SNAPSHOT/*.properties
